<div class="emoji emoji-size-95 emoji--thumbs-up"></div>
<h2>Great! We looked at your income and it looks like you qualify for benefits.</h2>
<br><br>
<%= link_to "Continue", edit_signature_path(@benefits_app), { class: "button button--big button--primary" } %>
