<div class="slab slab--white">
  <div class="grid">
    <div class="grid__item width-five-sixths shift-one-twelfth">
      <div class="form-card">
        <% if @income.qualify %>
          <%= render "qualifies" %>
        <% else %>
          <%= render "not_qualifies" %>
        <% end %>
      </div>
    </div>
  </div>
</div>