<div class="slab">
  <div class="grid">
    <div class="grid__item width-five-sixths shift-one-twelfth">
      <div class="form-card">
        <div class="form-card__header">
          <div class="emoji emoji-size-95 emoji-pair--jobs">
          </div>
          <br>
          <br>
          <h1 class="form-card__title">Do you have a job?</h1>
          <div class="form-card__body-text">Answer "Yes" if anyone on your application is self-employed.</div>
        </div>
        <div>
          <%#= button_to "Yes", { class: 'button', action: "create" } do %>
          <!--            <span class="button__icon--left emoji emoji--inline emoji--checkmark"></span>-->
          <!--            Yes-->
          <%# end %>
          <%#= link_to "Yes", { class: 'button', method: :get}, {action: "income_info" } do %>
          <!--                      <span class="button__icon--left emoji emoji--inline emoji--checkmark"></span>-->
          <!--                      Yes-->
          <%# end %>
          <%= link_to new_benefits_app_income_path(@benefits_app), { class: 'button' } do %>
            <span class="button__icon--left emoji emoji--inline emoji--checkmark"></span>
            Yes
          <% end %>
          <%= link_to "No", { class:"button" } do %>
            <span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>
            No
          <% end %>
          <%#= button_tag class:"button" do %>
          <!--            <span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>-->
          <!--            No-->
          <%# end %>
        </div>
      </div>
    </div>
  </div>
</div>