<h1>Submitted Applications</h1>

<ul>
  <% @benefits_apps.each do |article| %>
    <li>
      <%= link_to article.id, article %>
    </li>
  <% end %>
</ul>


<%= form_with(model: @benefits_app) do |form| %>
  <%= form.submit "New Application"%>
<% end %>
